.navbar {
	min-width: 440px;
	width: 100%;
	height: 48px;
	padding: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	gap: 0.5rem;
	background-color: theme('colors.neutral.800');
	transform-origin: center;
	transition: all 0.5s ease;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;

	input {
		&:focus {
			outline: 2px solid theme('colors.blue.500');
		}
	}
}

.navbar-hidden {
	@extend .navbar;
	transform: translateY(-48px);
}

.hide-nav-btn {
	position: absolute;
	top: calc(48px - 0.5rem);
	left: 50%;
	width: 24px;
	height: 20px;
	cursor: pointer;
	transform-origin: center;
	transition: all 0.5s ease;
	rotate: x 180deg;
	transform: translateX(-50%);

	&:before,
	&:after {
		display: block;
		margin: auto;
		content: '';
		width: 10px;
		height: 2px;
		background-color: rgb(255, 165, 0);
		transform: translateX(-3px) translateY(10px) rotate(40deg);
	}

	&:after {
		transform: translateX(3px) translateY(8px) rotate(-40deg);
	}
}

.show-nav-btn {
	@extend .hide-nav-btn;
	rotate: x 0deg;
	transform: translateX(-50%) translateY(8px);
}

.search-results-list {
	position: absolute;
	top: calc(100% + 0.25rem);
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.5rem;
	background-color: theme('colors.slate.700');
	outline: 2px solid theme('colors.blue.500');
	border-radius: 0 0 4px 4px;
	font-size: 1rem;
	z-index: 100;
}

.search-result-item {
	height: 55px;
	max-height: 55px;
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
	background-color: theme('colors.slate.900');
	cursor: pointer;
	transition: all 0.25s ease !important;

	.container {
		position: relative;
		display: flex;

		.playing {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 900;
			font-size: 1rem;
			background-color: theme('colors.slate.800/0.75');
		}
	}

	&:hover {
		filter: brightness(150%);
	}

	p {
		align-self: center;
		max-height: inherit;
		overflow-y: auto;
		scrollbar-width: thin;
		line-height: 1.25rem;
	}

	img {
		width: 80px;
		max-width: 80px;
		height: inherit;
		max-height: inherit;
	}

	.placeholder {
		min-width: 80px;
		width: 80px;
		min-height: 60px;
		height: 60px;
		background-color: #000000;

		&:after {
			content: '?';
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-weight: bold;
			text-align: center;
			font-size: 2em;
			line-height: 1em;
			border-radius: 50%;
			padding: 0.15rem 0.55rem 0.1rem 0.55rem;
			border: 2px solid;
		}
	}
}

.loading-container {
	position: absolute;
	top: calc(100% + 0.25rem);
	left: 0;
	right: 0;
	background-color: theme('colors.slate.900');
	outline: 2px solid theme('colors.blue.500');
	border-radius: 0 0 4px 4px;
	z-index: 100;
}

@media only screen and (min-width: 640px) {
	.search-result {
		height: 90px;
		max-height: 90px;
		gap: 0.5rem;

		img {
			width: 130px;
			max-width: 130px;
		}
	}
}
