.playlist {
	grid-column: 1;
	grid-row: 1;
	width: 100%;
	padding: 0.5rem;
	background-color: theme('colors.slate.800');
	z-index: 50;
	height: fit-content;
	height: 120px;
	display: none;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
	padding-right: 0.75rem;
	overflow-y: auto;

	&.visible {
		display: grid;
	}

	.controls {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		margin-bottom: 0.5rem;
	}

	.video {
		max-height: 90px;
		display: flex;
		gap: 0.25rem;
		background-color: theme('colors.slate.900');

		p {
			max-height: 90px;
			overflow-y: auto;
			scrollbar-width: thin;
			line-height: 1.25rem;
			word-break: break-all;
		}
	}

	.container {
		position: relative;
		display: flex;

		.playing {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 900;
			font-size: 1.5rem;
			background-color: theme('colors.slate.800/0.75');
		}

		.change-video {
			@extend .playing;
			cursor: pointer;
			display: none;
		}

		&:hover {
			.change-video {
				display: flex;
			}
		}
	}

	hr {
		display: none;
	}

	.placeholder {
		min-width: 130px;
		width: 130px;
		min-height: 90px;
		height: 90px;
		background-color: theme('colors.slate.950');

		&:after {
			content: '?';
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-weight: bold;
			text-align: center;
			font-size: 2em;
			line-height: 1em;
			border-radius: 50%;
			padding: 0.15rem 0.55rem 0.1rem 0.55rem;
			border: 2px solid;
		}
	}
}

@media only screen and (min-width: 768px) {
	.playlist {
		.video {
			word-break: keep-all;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.playlist {
		width: 100%;
		height: 100%;
		flex-direction: column;
		overflow-y: auto;
		gap: 0;
		padding-right: 0.35rem;
		scrollbar-width: thin;

		&.visible {
			display: flex;
		}

		.controls {
			flex-direction: row;
			justify-content: space-between;
		}

		hr {
			display: block;
			color: var(--bs-yellow);
			margin: 0.5rem 0;
			opacity: 1;
		}
	}
}
