.app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-width: 360px;
	min-height: 100vh;
	height: 100vh;
	background-color: theme('colors.slate.900');
}
